@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

#main {
  padding-top: 50px;

  .outline {
    margin-bottom: 20px;
    padding: 10px 0;
  }
}

.footer {
  background-color: #eee;
  min-width: 940px;
  margin-top: 50px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);

  p {
    color: #555;
    text-align: center;
    margin: 3px 0;
  }
}

#events {
  .summary {
    font-size: 120%;
    padding: 10px;
  }

  .event {
    margin: 5px 0 20px;
    padding: 10px;
    border: 1px solid #999;
    position: relative;
    @include border-radius(5px);

  .serial {
      color: #fff;
      background-color: #333;
      font-weight: bold;
      padding: 5px;
      position: absolute;
      top: -5px;
      right: -5px;

      a {
        color: #fff;
      }
    }

    h3 {
      line-height: 18px;
      padding: 0 0 5px;
      border-bottom: 1px solid #ccc;
    }

    .date {
      text-align: right;
    }
  }
}

.link-box {
  margin-bottom: 20px;
  padding: 5px 10px;
}

.field {
  label, input {
    margin: 5px 0;
    padding: 5px;
  }

  input, textarea {
    width: 500px;
  }

  select {
    width: 100px;
    margin-top: 5px;
  }
}

.field_with_errors {
  color: #9d261d;
  background-color: #fae5e3;
  margin: 10px;
  @include border-radius(5px);
}

.cube {
  img {
    margin: 2px;
    padding: 4px;
    border: 1px solid #999;
  }
}

.user-title {
  margin-bottom: 20px;

  img {
    vertical-align: middle;
  }
}

.relation {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #999;

  form {
    margin: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 5px 20px;
    }
  }
}
